/* Figma Styles of your File */
:root {
  /* Colors */
  --text-color: #000000;
  --highlight-color: #135ce7;
  --base-color-1: #fafafa;
  --base-color-2: #afccf4;
  --content-text: #ffffff;

  /* Fonts */
  /* Effects */
}
